<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#">Chat bot <span class="label label-success text-capitalize">UNAMAD</span></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Home</a></li>
                <li><button type="button" class="btn btns btn-success navbar-btn btn-circle">Sesión</button></li>
            </ul>
        </div>
      </div>
    </nav>
    <header class="headers">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="content">
                  <div class="pull-middle">
                    <h1 class="page-header">Software de inteligencia artificial capaz de simular una conversación con una persona.</h1>
                    <p class="lead">Universidad Nacional Amazónica de Madre de Dios</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="#" role="form">
                                <div class="input-group inputs-group">
                                    <!-- <input type="email" class="form-control" placeholder="Email Address" required> -->
                                    <span class="input-group-btn" style="opacity: 0;">
                                      <button class="btn btns btn-success btn-circle" type="submit">¿Tienes alguna pregunta?</button>
                                    </span>                        
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>              
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                <div class="phone">
                    <img class="img-responsive img-rounded" src="../assets/img/logo.png">
                </div>
            </div>
          </div>
        </div>
    </header>
</div>

<main >
    <div class="container">
      

        <div class="row">
          <div class="col-md-5 chatbox">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <span class="glyphicon glyphicon-comment"></span> Chat
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                         <ul class="dropdown-menu slidedown">
                              <li><a href="#"><span class="glyphicon glyphicon-refresh"></span>Refresh</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-ok-sign"></span>Available</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-remove"></span>Busy</a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-time"></span>Away</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><span class="glyphicon glyphicon-off"></span>Sign Out</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="panel-body">
                      <ul class="chat">
                          <li class="clearfix" *ngFor="let mensaje of msgs; index as i" [ngClass]="{'left': mensaje.user === 'unamad', 'right': mensaje.user === 'usuario' }">
                                <span class="chat-img" [ngClass]="{'pull-left': mensaje.user === 'unamad', 'pull-right': mensaje.user === 'usuario' }">
                                    <img *ngIf="mensaje.user === 'unamad'" src="../assets/img/logo.png" alt="User Avatar" class="img-circle" width="50px" />
                                    <img *ngIf="mensaje.user === 'usuario'" src="../assets/img/user.png" alt="User Avatar" class="img-circle" width="50px" />

                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header"  *ngIf="mensaje.user === 'unamad'">
                                        <strong class="primary-font">{{mensaje.user}}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{mensaje.time | date:'shortTime'}}</small>
                                    </div>
                                    <div class="header" *ngIf="mensaje.user === 'usuario'">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{mensaje.time | date:'shortTime'}}</small>
                                            <strong class="pull-right primary-font">{{mensaje.user}}</strong>
                                        </div>
                                    <p>
                                        {{mensaje.text}}
                                    </p>
                                </div>
                          </li>
                      </ul>
                  </div>
                  <div class="panel-footer">
                      <form  class="input-group" #f = "ngForm" ngNativeValidate (submit) = "sendMessage(f)">
                          <input [(ngModel)] = "text"  name="text" required type="text" class="form-control input-sm" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" type="submit">
                                  Enviar</button>
                          </span>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
<script>
 $('#myCarousel').carousel({
    interval: 3000,
 })
</script>